@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #eaeaea 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.homeImageContainer {
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.homeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerContainer {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(235, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
}

.headerContainer h1 {
    font-size: 3rem;
    margin-bottom: 0px;
}

.headerContainer h2 {
    color: rgb(235, 233, 233);
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.buttonContainer button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonContainer button:hover {
    background-color: #e65c00;
}

.productSection {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    height: auto;
}

.carousel .slide {
    display: flex;
    justify-content: center;
}

.custom-slide {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
    box-sizing: border-box;
}

.productItem {
    position: relative;
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 220px;
}

.productItem img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.productItem .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.productItem .overlay p {
    margin: 5px 0;
}

.productItem .overlay .product-name {
    color: rgb(252, 248, 248);
}

.productItem .overlay .product-price {
    color: rgb(251, 0, 0);
}

@media (max-width: 768px) {
    .headerContainer h1 {
        font-size: 2rem;
    }

    .buttonContainer button {
        font-size: 1rem;
    }

    .productItem {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .headerContainer {
        padding: 15px;
    }

    .headerContainer h1 {
        font-size: 1.5rem;
    }

    .buttonContainer button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .productItem {
        flex: 1 1 100%;
    }
}