/* products.css */

.products {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.productsTitle {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.filter select,
.filter input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 200px;
    box-sizing: border-box;
}

.filter button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #ff6600;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter button:hover {
    background-color: #e65c00;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.productItem {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    width: calc(25% - 20px);
    box-sizing: border-box;
    position: relative;
    /* Add position relative to make the favorite button absolute */
}

.productItem:hover {
    transform: scale(1.05);
}

.productImages img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.productInfo {
    padding: 15px;
    text-align: center;
}

.productInfo h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.productInfo p {
    font-size: 1.2rem;
    color: #666;
}

.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    /* Absolute position */
    top: 10px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
    color: #ff0000;
    /* Adjust color if needed */
    transition: color 0.3s;
}

.favoriteButton:hover {
    color: #e00000;
}

@media (max-width: 768px) {
    .productItem {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .productItem {
        width: calc(100% - 20px);
    }

    .filter {
        flex-direction: column;
        gap: 10px;
    }

    .filter select,
    .filter input {
        width: 100%;
    }
}